<launch>
    <include file="$(find four_dof_manipulator)/launch/gazebo.launch"/>
    <include file="$(find four_dof_manipulator_motion_planning)/launch/move_group.launch"/>
    <include file="$(find four_dof_manipulator_motion_planning)/launch/moveit_rviz.launch">
        <param name="config" value="True"/>
    </include>
</launch>
