<launch>

  <param name="robot_description" textfile="$(find four_dof_manipulator)/urdf/four_dof_manipulator.urdf"/>

  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find four_dof_manipulator)/urdf/four_dof_manipulator.urdf -urdf -model four_dof_manipulator"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller"/>
  <rosparam file="$(find four_dof_manipulator)/yaml/jtc_controller.yaml" command="load"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>


</launch>